.grid-container {
    display: grid;
    gap: 0 10px;
    grid-template:
        "header"
        "navbar" 50px
        "sidebar" 100px
        "main" 100%
        "footer" 50px;

    .header {
        grid-area: header;
    }

    .navbar {
        grid-area: navbar;
    }

    .sidebar {
        grid-area: sidebar;
        background-color: #9fd565;
    }

    .main {
        grid-area: main;
        background-color: #fafac6;
    }

    .footer {
        grid-area: footer;

    }

    @media (min-width: 768px) {
        grid-template:
            "header header" 150px
            "navbar navbar" 50px 
            "sidebar main" auto
            "footer footer" 5px/
            200px auto
        ;
    }

}